<a href="https://colab.research.google.com/github/saurav11sarkar/Python/blob/main/session_19_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [119]:
# code here
import numpy as np
import pandas as pd
titanic = pd.read_csv('/content/drive/MyDrive/Compasx/Data Science Mentorship Program/dataset/dataset-session-19/train - train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [120]:
group = titanic.groupby('Pclass')['Age'].agg(['mean',lambda x: x.isnull().sum()])
group.columns = ['Average Age', 'Total Missing Values']
group

        Average Age  Total Missing Values
Pclass
1         38.233441                    30
2         29.877630                    11
3         25.140620                   136

In [121]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [122]:
# code here
titanic['Embarked'] = titanic.groupby('Pclass')['Embarked'].transform(lambda x: x.fillna(x.mode()[0]))
titanic.groupby('Pclass')['Embarked'].value_counts().sort_index()

Pclass  Embarked
1       C            85
        Q             2
        S           129
2       C            17
        Q             3
        S           164
3       C            66
        Q            72
        S           353
Name: Embarked, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [123]:
# code here
avgrage = titanic.groupby(['Pclass','Embarked'])['Fare'].mean().round(2)
result = avgrage.unstack().to_dict()
result

{'C': {1: 104.72, 2: 25.36, 3: 11.21},
 'Q': {1: 90.0, 2: 12.35, 3: 11.18},
 'S': {1: 70.51, 2: 20.33, 3: 14.64}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [124]:
# code here
football = pd.read_csv('/content/drive/MyDrive/Compasx/Data Science Mentorship Program/dataset/dataset-session-19/Fifa Worldcup 2022 - Sheet1.csv')

In [125]:
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB

In [126]:
def Znormalization(group,col_per):
  for col in col_per:
    group[col] = (group[col]-group[col].mean())/(group[col].std())
    return group

col_pal = ['Passes','Passes Completed','Attempted Line Breaks','Completed Line Breaks']
groups = football.groupby('Team',group_keys=False).apply(Znormalization,col_pal)
groups.groupby('Team').agg({
    'Passes':['min','max'],
    'Yellow Cards':['min','max','mean'],
    'Attempted Line Breaks':['min','max','std'],
    'Possession (%)':'mean'
})

                  Passes           Yellow Cards                \
                     min       max          min max      mean
Team
Argentina      -1.510257  1.685214            0   8  2.285714
Australia      -1.114789  0.932782            0   3  1.750000
Belgium        -1.082696  0.888950            1   3  1.666667
Brazil         -0.928871  1.609122            0   3  1.200000
Cameroon       -0.875605  1.089713            1   5  2.666667
Canada         -1.120897  0.800641            2   4  2.666667
Costa Rica     -1.013178  0.986279            1   3  2.000000
Croatia        -1.441280  1.093005            0   2  1.142857
Denmark        -1.046208  0.946290            1   2  1.666667
Ecuador        -0.883020  1.085876            0   2  1.000000
England        -0.877731  1.705844            0   1  0.200000
France         -1.219077  1.571019            0   3  1.142857
Germany        -1.131449  0.765392            0   3  1.000000
Ghana          -1.045786  0.946861            2   4  2.666667
Iran           -0.820695  1.113800            2   3  2.333333
Japan          -1.001479  0.979825            0   3  1.500000
Korea Republic -1.157924  0.877868            1   2  1.500000
Mexico         -0.918398  1.065342            1   4  2.333333
Morocco        -1.384362  1.662218            0   3  1.285714
Netherlands    -1.051749  1.428668            0   4  1.800000
Poland         -0.694755  1.483035            1   3  1.750000
Portugal       -1.646177  1.035658            0   3  1.200000
Qatar          -1.147558  0.684833            0   4  2.333333
Saudi Arabia   -0.667896  1.149691            2   6  4.666667
Senegal        -1.214144  1.235077            1   3  1.750000
Serbia         -1.089807  0.875419            2   7  4.000000
Spain          -1.498758  0.554601            0   1  0.500000
Switzerland    -1.469082  0.754945            1   4  2.250000
Tunisia        -0.965692  1.031097            1   3  1.666667
United States  -1.136338  0.860862            0   4  1.250000
Uruguay        -0.931702  1.056570            1   3  2.000000
Wales          -0.971590  1.026174            1   2  1.666667

               Attempted Line Breaks                 Possession (%)
                                 min  max        std           mean
Team
Argentina                        141  249  38.774685      49.285714
Australia                        133  171  17.682383      31.250000
Belgium                          167  195  14.422205      49.000000
Brazil                           164  193  10.691118      50.400000
Cameroon                         144  182  19.857828      38.333333
Canada                           102  176  37.753587      44.333333
Costa Rica                        86  154  38.974351      27.333333
Croatia                           97  259  54.499891      47.428571
Denmark                          173  241  34.000000      51.333333
Ecuador                          143  177  17.009801      42.666667
England                          133  208  29.676590      57.200000
France                           126  179  21.407609      44.857143
Germany                          143  256  56.624494      53.000000
Ghana                            122  188  33.020196      37.000000
Iran                              56  195  77.526340      31.666667
Japan                            104  253  64.048810      30.250000
Korea Republic                   139  201  27.072434      42.250000
Mexico                           127  198  40.706265      46.666667
Morocco                          128  157  10.641339      34.285714
Netherlands                      168  198  12.759310      44.000000
Poland                            79  156  36.326070      32.000000
Portugal                         165  197  13.049904      53.800000
Qatar                            159  174   7.767453      39.333333
Saudi Arabia                     147  205  29.022979      36.666667
Senegal                          143  184  16.938615      38.500000
Serbia                           140  184  22.188586      42.666667
Spain                            186  237  24.289916      67.000000
Switzerland                      157  178   9.032349      43.000000
Tunisia                          153  200  24.419937      38.666667
United States                    143  204  27.693260      47.000000
Uruguay                          146  186  22.030282      41.000000
Wales                            104  208  53.028294      41.000000

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [127]:
# code here
df=pd.read_csv('/content/drive/MyDrive/Compasx/Data Science Mentorship Program/dataset/dataset-session-19/ipl_deliveries - ipl_deliveries.csv')
df.columns

Index(['ID', 'Team', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'BowlingTeam'],
      dtype='object')

In [128]:
chasing_matches = df[df['innings'] == 2]

# Highest score while chasing
highest_scores = chasing_matches.groupby('batter')['batsman_run'].max()
highest_score_batsman = highest_scores.idxmax()

# Best Strike rate while chasing and have faced 100+ balls
balls_faced = chasing_matches.groupby('batter')['bowler'].count()
qualified_batsmen = balls_faced[balls_faced >= 100].index
strike_rates = (chasing_matches.groupby('batter').sum()['batsman_run'] / balls_faced) * 100
best_strike_rate_batsman = strike_rates[qualified_batsmen].idxmax()

# Chasing mean team batting in second inning
mean_team_batting_score = chasing_matches.groupby('ID')['total_run'].sum().mean()

print("Batsman with highest score while chasing:", highest_score_batsman)
print("Batsman with the best strike rate while chasing and faced 100+ balls:", best_strike_rate_batsman)
print("Mean team batting score in the second inning while chasing:", mean_team_batting_score)

Batsman with highest score while chasing: A Ashish Reddy
Batsman with the best strike rate while chasing and faced 100+ balls: PJ Cummins
Mean team batting score in the second inning while chasing: 149.28270042194092

<ipython-input-128-90b01f4f9503>:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  strike_rates = (chasing_matches.groupby('batter').sum()['batsman_run'] / balls_faced) * 100

In [129]:
chasge = df[df['innings']==2]
chasge.groupby('batter')['batsman_run'].max().idxmax()

'A Ashish Reddy'

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [130]:
df.head(1)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

In [131]:
# code here
state = df.groupby(['batter','bowler']).agg({'isWicketDelivery':'count','batsman_run':'sum'}).reset_index()
state.sort_values(by=['isWicketDelivery','batsman_run'],ascending=[False,True]).iloc[0]

batter                V Kohli
bowler              RA Jadeja
isWicketDelivery          134
batsman_run               140
Name: 22745, dtype: object

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [179]:
# code here|('non-striker','batter')
df.groupby(['batter','non-striker'])['total_run'].sum().reset_index().sort_values(by='total_run',ascending=False).head(1)

     non-striker          batter  total_run
7495     V Kohli  AB de Villiers       1623

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [201]:
# code here